googletrans
numpy
pandas
opencv-python 
underthesea
pyvi
translate
faiss-cpu
ftfy
regex
tqdm
matplotlib
langdetect
rapidfuzz
sentence_transformers
polars
open-clip-torch
fastapi 
uvicorn
python-multipart
hnswlib
git+https://github.com/openai/CLIP.git